In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv("C:/Users/ASUS/OneDrive/Desktop/Data Science/creditcard.csv")

In [3]:
# first 7 rows of the dataset
credit_card_data.head(7)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0

In [4]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [8]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [10]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [13]:
legit_sample = legit.sample(n=492)

In [14]:
legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
260418,159549.0,2.201458,-1.433239,-0.920073,-1.655912,-1.120685,-0.298754,-1.136684,-0.087720,-1.551661,...,-0.113602,0.088099,0.252015,0.759309,-0.235695,-0.255842,0.004559,-0.044822,44.40,0
191415,129244.0,-2.485173,1.413587,0.451163,-2.714802,-1.321446,-0.527244,-0.863717,1.151403,0.193513,...,-0.152281,-0.538065,-0.190232,-0.839402,0.743276,-0.289951,0.526931,0.293203,8.00,0
177222,123090.0,2.035159,-0.904882,-0.600420,-0.240283,-0.771075,-0.090614,-0.791757,-0.040774,-0.127828,...,-0.603353,-1.296559,0.458512,0.413939,-0.639252,-0.085155,-0.003251,-0.020366,59.99,0
231102,146613.0,-0.855988,0.596801,0.738709,-1.028563,1.260956,0.278697,1.421960,-0.316887,-0.687231,...,0.053126,0.287490,-0.736396,-1.321289,0.898211,0.548514,-0.256155,-0.246517,97.89,0
176605,122838.0,-1.044932,1.391000,0.796698,-0.352415,0.231260,-0.823696,0.964095,0.122180,-0.610637,...,-0.149548,-0.481219,-0.365326,0.031942,0.751657,-0.313740,-0.212486,-0.028269,20.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239535,150151.0,-0.640097,1.113868,0.834849,-1.122239,1.388882,-0.624243,1.505363,-0.335426,-0.463972,...,-0.414478,-1.089725,-0.365296,0.484124,0.598917,0.184398,-0.218414,-0.156891,5.99,0
81622,59017.0,-1.374371,0.903359,0.961256,-0.724872,-0.049116,-0.534006,0.221108,0.482827,-0.206391,...,-0.107186,-0.343611,0.131684,0.002212,-0.157400,0.281238,-0.102203,0.139641,4.00,0
77742,57190.0,1.146465,0.182321,0.234392,1.162840,-0.348032,-0.957186,0.264813,-0.229182,0.022778,...,0.054641,0.075209,-0.139750,0.392204,0.658677,-0.332807,0.002204,0.028512,54.88,0
46503,42812.0,-0.511971,1.318001,0.495819,2.467826,0.920626,0.936056,0.328076,0.001815,-0.767495,...,-0.123299,-0.251455,0.013984,-1.365205,-1.558767,-0.244375,-0.650752,-0.321859,7.00,0
79442,58024.0,1.203376,0.156522,0.519433,0.513255,-0.453700,-0.671300,-0.050325,-0.044527,-0.173394,...,-0.204671,-0.658748,0.120825,0.316892,0.175528,0.077397,-0.036050,0.009483,8.99,0

In [15]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [16]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
260418,159549.0,2.201458,-1.433239,-0.920073,-1.655912,-1.120685,-0.298754,-1.136684,-0.087720,-1.551661,...,-0.113602,0.088099,0.252015,0.759309,-0.235695,-0.255842,0.004559,-0.044822,44.40,0
191415,129244.0,-2.485173,1.413587,0.451163,-2.714802,-1.321446,-0.527244,-0.863717,1.151403,0.193513,...,-0.152281,-0.538065,-0.190232,-0.839402,0.743276,-0.289951,0.526931,0.293203,8.00,0
177222,123090.0,2.035159,-0.904882,-0.600420,-0.240283,-0.771075,-0.090614,-0.791757,-0.040774,-0.127828,...,-0.603353,-1.296559,0.458512,0.413939,-0.639252,-0.085155,-0.003251,-0.020366,59.99,0
231102,146613.0,-0.855988,0.596801,0.738709,-1.028563,1.260956,0.278697,1.421960,-0.316887,-0.687231,...,0.053126,0.287490,-0.736396,-1.321289,0.898211,0.548514,-0.256155,-0.246517,97.89,0
176605,122838.0,-1.044932,1.391000,0.796698,-0.352415,0.231260,-0.823696,0.964095,0.122180,-0.610637,...,-0.149548,-0.481219,-0.365326,0.031942,0.751657,-0.313740,-0.212486,-0.028269,20.35,0

In [17]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [18]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96778.713415,0.006781,0.101697,0.030370,-0.139627,0.030520,0.030883,-0.031906,-0.005069,0.004429,...,-0.006538,0.048773,0.009862,0.020520,0.019075,0.015349,0.006963,0.003062,0.005361,70.985610
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [19]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [20]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
260418  159549.0  2.201458 -1.433239 -0.920073 -1.655912 -1.120685 -0.298754
191415  129244.0 -2.485173  1.413587  0.451163 -2.714802 -1.321446 -0.527244
177222  123090.0  2.035159 -0.904882 -0.600420 -0.240283 -0.771075 -0.090614
231102  146613.0 -0.855988  0.596801  0.738709 -1.028563  1.260956  0.278697
176605  122838.0 -1.044932  1.391000  0.796698 -0.352415  0.231260 -0.823696
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
260418 -1.136684 -0.087720 -1.551661  ... -0.303723 -0.113602  0.088099
191415 -0.863717  1.151403  0.193513  ...  0.435331 -0.152281 -0.538065
177222 -0.791757 -0.040774 -0.127828  ... -0.441308 -0.603353 -1.296559
231102  1.421960 -0.316887 -0.687231  ...  0.040515  0.053126  0.287490
176605  0.964095  0.122180 -0.610637  ... -0.130621 -0.149548 -0.481219
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
260418  0.252015  0.759309 -0.235695 -0.255842  0.004559 -0.044822   44.40
191415 -0.190232 -0.839402  0.743276 -0.289951  0.526931  0.293203    8.00
177222  0.458512  0.413939 -0.639252 -0.085155 -0.003251 -0.020366   59.99
231102 -0.736396 -1.321289  0.898211  0.548514 -0.256155 -0.246517   97.89
176605 -0.365326  0.031942  0.751657 -0.313740 -0.212486 -0.028269   20.35
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [21]:
print(Y)

260418    0
191415    0
177222    0
231102    0
176605    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [23]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [24]:
model = LogisticRegression()

In [25]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

In [26]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [27]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9440914866581956

In [28]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [29]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.934010152284264